body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.border-shadow {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  border-radius: 0.25rem;
}

.sub-container {
  overflow: hidden;
  padding-top: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1rem;
}

.container-label {
  margin-bottom: 2.25rem;
  font-size: 1.25rem;
}

.d-flex {
  display: flex;
}

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}

.align-right {
  float: right;
}

.mt-block {
  margin-top: 2rem;
}

.default-text-color {
  color: rgba(0, 0, 0, 0.54)
}

.margin-top-zero.item-box { margin-top: 0; }

.margin-top-twelve.item-box { margin-top: 12px; }

.buttons-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.left-border-dark-blue,
.left-border-dark-green {
  padding-left: 19px !important;

  &.single {
    padding-left: 11px !important;
  }
}

.left-border-white {
  border-left: 5px solid $white;
}

.left-border-green {
  border-left: 5px solid $green;
}

.left-border-red {
  border-left: 5px solid $red;
}

.left-border-dark-purple {
  border-left: 5px solid $dark-purple;
}

.left-border-dark-blue {
  border-left: 5px solid $dark-blue;
}

.left-border-dark-green {
  border-left: 5px solid $dark-green;
}

.left-border-orange {
  border-left: 5px solid $orange;
}

.label-products-table {
  font-size: 1.25rem;

  &.select-text {
    margin-bottom: 20px;
  }
}


.btn-icon-text {
  &.att-red {
    color: #fff;
    background-color: $red;

    &:hover {
      background-color: $red-hover;
    }
  }

  &.att-blue {
    color: #fff;
    background-color: $blue;

    &:hover {
      background-color: $blue-hover;
    }
  }

  &.att-orange {
    color: #fff;
    background-color: $orange;

    &:hover {
      background-color: $orange-hover;
    }
  }

  &.att-green {
    color: #fff;
    background-color: $green;

    &:hover {
      background-color: $green-hover;
    }
  }

  &.margin-top {
    margin-top: 10px;
  }

  &.margin-left {
    margin-left: 10px;
  }

  &.margin-top-30 {
    margin-top: 1.875rem;
  }
}
