// Blue
$blue: rgba(0, 159, 219, 1);
$blue-hover: rgba(0, 159, 219, 0.9);
// Dark Blue
$dark-blue: rgba(5, 104, 174, 1);
$dark-blue-hover: rgba(5, 104, 174, 0.9);
// Gray
$gray: rgba(149, 149, 149, 1);
$gray-hover: rgba(149, 149, 149, 0.9);
// Func Gray
$func-gray: rgba(242, 242, 242, 1);
$func-gray-hover: rgba(242, 242, 242, 0.8);
// Light Gray
$light-gray: rgba(210, 210, 210, 1);
$light-gray-hover: rgba(210, 210, 210, 0.9);
// Green
$green: rgba(76, 169, 12, 1);
$green-hover: rgba(76, 169, 12, 0.9);
// Dark Green
$dark-green: rgba(0, 122, 62, 1);
$dark-green-hover: rgba(0, 122, 62, 0.9);
// Orange
$orange: rgba(234, 116, 0, 1);
$orange-hover: rgba(234, 116, 0, 0.9);
// Red
$red: rgba(207, 42, 42, 1);
$red-hover: rgba(207, 42, 42, 0.9);
// Purple
$dark-purple: rgba(112, 47, 138, 1);
$light-purple: rgba(202, 162, 221, 1);
$purple: rgba(144, 99, 205, 1);
