// Blue
$blue: rgba(0, 159, 219, 1);
$blue-hover: rgba(0, 159, 219, 0.9);
// Dark Blue
$dark-blue: rgba(5, 104, 174, 1);
$dark-blue-hover: rgba(5, 104, 174, 0.9);
// Red
$red: rgba(207, 42, 42, 1);
$red-hover: rgba(207, 42, 42, 0.9);
// Green
$green: rgba(76, 169, 12, 1);
// Dark Green
$dark-green: rgba(0, 122, 62, 1);
