/**
 * Conexus-Tech - Retail Companion Web Interface AT&T
 * https://conexustech.com/
 * @flow
 */

.Main-Content {
  min-height: calc(100vh - 112px);
  flex-grow: 1;
  background-color: #fafafa;
  padding: 24px;
  min-width: 0;
}

/* Drawer Styles */
.Drawer-List-Link {
  text-decoration: none;
}

.Drawer-List-Btn {
  width: 100% !important;
  display: flex !important;
  position: relative !important;
  box-sizing: border-box !important;
  text-align: left !important;
  align-items: center !important;
  padding: 11px 24px !important;
  justify-content: flex-start !important;
  text-decoration: none !important;
  text-transform: none !important;
  color: rgba(0, 0, 0, 0.87) !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
  line-height: 1.5em !important;
}
