.Main-Content {
	min-height: calc(100vh - 112px);
	flex-grow: 1;
	background-color: #fafafa;
	padding: 24px;
	min-width: 0;
}

.App {
	text-align: center;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 40vmin;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

/* Pages Styles */
.Container-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 4px;
}

/* Drawer Styles */
.Drawer-List-Link {
	text-decoration: none;
}

.Drawer-List-Btn {
	width: 100% !important;
	display: flex !important;
	position: relative !important;
	box-sizing: border-box !important;
	text-align: left !important;
	align-items: center !important;
	padding: 11px 24px !important;
	justify-content: flex-start !important;
	text-decoration: none !important;
	text-transform: none !important;
	color: rgba(0, 0, 0, 0.87) !important;
	font-size: 1rem !important;
	font-weight: 400 !important;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
	line-height: 1.5em !important;
}

/* NavBar Styles */
.NavBar-Box {
	flex-grow: 1;
}

.NavBar-Menu-Btn {
	margin-left: -12px !important;
	margin-right: 10px !important;
}

.NavBar-Logo {
	flex-grow: 1;
	color: rgba(0, 0, 0, 0.87);
	font-size: 1.25rem;
	font-weight: 500;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	line-height: 1.6;
	letter-spacing: 0.0075em;
}

.NavBar-Logo-Link {
	color: #FFF;
	text-decoration: none;
}
