.component-colors-container {
	.content-box {
		position: relative;
		.colors-bg {
			position: absolute;
			width: calc(100% + 48px);
			margin: -24px;
		}
		.colors-container {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			z-index: 1;
			position: relative;
			padding-top: 4vw;
			.color-item-container {
				margin-left: 0.6vw;
				margin-right: 0.6vw;
				display: flex;
    			flex-flow: column;
    			align-items: center;
				.color-item-title {
					text-align: center;
					max-width: 3vw;
					white-space: normal;
					word-break: break-word;
					font-size: 0.7rem;
				}
				.color-item-image {
					max-height: 6vw;
				}
			}
		}
	}
}
