.homeviewer-cardmedia-contaienr {
	position: relative;
	height: 100%;

	.homeview-back-media {
		min-height: 270px;
		height: 100%;
	}

	.homeview-card-media {
		position: absolute;
		top: 200px;
		left: 10%;
		right: 10%;
		bottom: 10%;
	}
}

.homeview-upload-box {
	position: relative;

	.file-input {
		display: none;
	}

	.flat-button-file {
		position: absolute;
		bottom: 9px;
		z-index: 1;

		.upload-button {
			font-size: 14px;
			background-color: #FFF;
			color: black;
			
			&:hover {
				background-color: rgba(240, 240, 240, 0.87);
			}
		}
	}

	.flat-button-colors {
		position: absolute;
		top: 6px;
		right: 0px;
	}

	.device-options-button {
		position: absolute;
		bottom: -33px;
		right: 12px;
	}

	.upload-text-field input {
		padding-left: 120px;
	}
}