/**
 * Conexus-Tech - Retail Companion Web Interface AT&T
 * https://conexustech.com/
 * @flow
 */

/* Pages Styles */
.Container-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
