#locations-manage,
#locations-man-tab,
#locations-add {
	margin: auto;
	max-width: 62.5rem;
}

#locations-man-tab {
	.info {
		border-left: 5px solid $orange;
	}
	.users {
		border-left: 5px solid $dark-purple;
	}
	.zones {
		border-left: 5px solid $red;
	}
	.products {
		border-left: 5px solid $green;
	}
}
