/**
 * Conexus-Tech - Retail Companion Web Interface AT&T
 * https://conexustech.com/
 * @flow
 */

#products-man-phone {
	.info-container {
		margin-top: 2rem;
		margin-bottom: 3rem;
		width: 100%;
	}
}
