.card-box { width: 100%; }

.select-zone-box,
.text-field-width {
  width: 100%;
}

.padding-vertical {
  padding: 12px 0;
}

.product-card-media {
  min-height: 270px;
}

.color-fields,
.upload-box {
  position: relative;

  .file-input {
    display: none;
  }

  .flat-button-file {
    position: absolute;
    bottom: 22px;
    z-index: 1;

    .upload-button {
      font-size: 14px;
      background-color: #FFF;
      color: black;
      
      &:hover {
        background-color: rgba(240, 240, 240, 0.87);
      }
    }
  }

  .flat-button-colors {
    position: absolute;
    top: 6px;
    right: 0px;
  }

  .device-options-button {
    position: absolute;
    bottom: -33px;
    right: 12px;
  }

  .upload-text-field input {
    padding-left: 120px;
  }
}

.title-features {
  font-size: 18px;
  color: $dark-blue;
  margin: 16px 0 0px 0px;
}

.subtitle-features {
  color: $dark-green;
  margin: 16px 0 0px 0px;
}

.image-colors-list.list {
  margin-top: 14px;

  .item-color {
    background-color: $func-gray;

    &:hover {
      background-color: $func-gray-hover;
    }
  }
}

.expand-div {
  width: 100%;
  margin-top: -14px;
}

#products-manage,
#products-man-phone,
#products-add {
	margin: auto;
	max-width: 62.5rem;
}

#products-man-tab {
	.info {
		border-left: 5px solid $orange;
	}
	.users {
		border-left: 5px solid $dark-purple;
	}
	.zones {
		border-left: 5px solid $red;
	}
	.products {
		border-left: 5px solid $green;
	}
}

.color-fields,
.display-fields,
.camera-fields {
  margin-bottom: 1.5rem;
}

.summary-fields {
  .summary-description {
    width: 100%;
    border-radius: 0.25rem;
    border: 1px solid;
    margin-bottom: 1.5rem;
  }
}